Repository wp-cli/i18n-command, pull requests merged in 2018-10, with the labels that each got.

#86 Add support for Probot `move` command
  .github/move.yml
Labels: scope:distribution

#83 Add unit test cases for include/exclude options
  foo
  phpunit.xml
  tests/IterableCodeExtractorTest.php
  tests/data/baz/includes/should_be_included.js
  tests/data/foo-plugin/foo-plugin.php
  tests/data/foo/bar/excluded/ignored.js
  tests/data/foo/bar/foo/bar/foo/bar/deep_directory_also_included.php
  tests/data/foo/bar/foofoo/included.js
  tests/data/hoge/should_NOT_be_included.js
Labels: scope:testing

#87 Include should override exclude instead of the other way around
  features/makepot.feature
  src/IterableCodeExtractor.php
  tests/IterableCodeExtractorTest.php
Labels: command:i18n-make-pot

#92 Set a placeholder PO-Revision-Date header
  features/makepot.feature
  src/MakePotCommand.php
Labels: command:i18n-make-pot

#94 Allow skipping strings audit
  README.md
  features/makepot.feature
  src/MakePotCommand.php
Labels: command:i18n-make-pot

#85 Support parsing minified JS files created by WebPack
  features/makepot.feature
  src/JsFunctionsScanner.php
Labels: command:i18n-make-pot

#99 Replace regexes Peast can't parse.
  features/makepot.feature
  src/JsFunctionsScanner.php
Labels: bug, command:i18n-make-pot

#101 Improve detection of translator's comments
  features/makepot.feature
  src/JsFunctionsScanner.php
Labels: bug, command:i18n-make-pot

#103 Add parsing of .map files to improve reliability of JS translations
  features/makepot.feature
  src/MakePotCommand.php
  src/MapCodeExtractor.php
Labels: command:i18n-make-pot

#104 Determine includes and excludes based on scores
  src/IterableCodeExtractor.php
  tests/IterableCodeExtractorTest.php
Labels: command:i18n-make-pot
