Repository wp-cli/i18n-command, pull requests merged in 2018-07, with the labels that each got.

#32 Exclude some common directories
  README.md
  features/makepot.feature
  src/MakePotCommand.php
  src/WordPressCodeExtractor.php
Labels: command:i18n-make-pot

#31 Add ability to merge with existing POT file
  README.md
  features/makepot.feature
  src/MakePotCommand.php
Labels: command:i18n-make-pot

#26 JavaScript String Extraction
  README.md
  composer.json
  features/makepot.feature
  src/JsCodeExtractor.php
  src/JsFunctionsScanner.php
  src/MakePotCommand.php
  src/PhpCodeExtractor.php
  src/PhpFunctionsScanner.php
Labels: command:i18n-make-pot

#38 Add option to extract strings with any text domain
  README.md
  features/makepot.feature
  src/JsFunctionsScanner.php
  src/MakePotCommand.php
  src/PhpFunctionsScanner.php
Labels: command:i18n-make-pot

#42 Add `@when before_wp_load` to command namespace
  src/CommandNamespace.php
Labels: command:i18n

#37 Correctly pass exclude option to JsCodeExtractor
  features/makepot.feature
  src/MakePotCommand.php
Labels: bug, command:i18n-make-pot

#43 Text domain header
  README.md
  features/makepot.feature
  src/MakePotCommand.php
Labels: command:i18n-make-pot

#54 Factor directory iterator as a trait
  src/IterableCodeExtractor.php
  src/JsCodeExtractor.php
  src/MakePotCommand.php
  src/PhpCodeExtractor.php
Labels: command:i18n-make-pot

#58 Add --headers parameter
  README.md
  features/makepot.feature
  src/MakePotCommand.php
Labels: command:i18n-make-pot

#60 Separate command argument handling from actual `__invoke()`
  src/MakePotCommand.php
Labels: command:i18n-make-pot

#57 Add X-Generator header to POT file
  features/makepot.feature
  src/MakePotCommand.php
Labels: command:i18n-make-pot
