Repository wp-cli/i18n-command, pull requests merged in 2018-12, with the labels that each got.

#109 Add `i18n make-json` command
  .github/settings.yml
  README.md
  composer.json
  features/makejson.feature
  features/makepot.feature
  i18n-command.php
  src/JedGenerator.php
  src/MakeJsonCommand.php
Labels: command:i18n-make-json

#112 Remove second arg to WP_CLI::success()
  src/MakeJsonCommand.php
Labels: bug, command:i18n-make-json

#113 PHPCS: fix up the code base [1] - whitespace
  src/IterableCodeExtractor.php
  src/JedGenerator.php
  src/JsFunctionsScanner.php
  src/MakeJsonCommand.php
  src/MakePotCommand.php
  src/MapCodeExtractor.php
  src/PhpFunctionsScanner.php
  src/PotGenerator.php
Labels: command:i18n-make-json, command:i18n-make-pot

#114 PHPCS: fix up the code base [2] - yoda conditions
  src/JsFunctionsScanner.php
  src/PhpFunctionsScanner.php
Labels: command:i18n

#115 PHPCS: fix up the code base [3] - no precision alignment
  src/MakeJsonCommand.php
  src/MakePotCommand.php
Labels: command:i18n-make-json, command:i18n-make-pot

#116 PHPCS: fix up the code base [4] - multi-line function calls
  src/JsFunctionsScanner.php
  src/MakePotCommand.php
Labels: command:i18n-make-pot

#118 PHPCS: fix up the code base [5] - multi-line function calls
  src/JsFunctionsScanner.php
Labels: command:i18n
