Repository wp-cli/i18n-command, pull requests merged in 2019-11, with the labels that each got.

#194 Adapt code to gettext v4.8
  composer.json
  phpcs.xml.dist
  src/IterableCodeExtractor.php
  src/JsCodeExtractor.php
  src/JsFunctionsScanner.php
  src/MakePotCommand.php
  src/PhpCodeExtractor.php
  src/PhpFunctionsScanner.php
  src/PotGenerator.php
Labels: command:i18n, scope:distribution

#180 Use correct argument name in warning message
  src/MakePotCommand.php
Labels: command:i18n-make-pot

#193 Add preliminary PHP 7.4 testing
  .travis.yml
  src/MakePotCommand.php
Labels: scope:distribution
