Repository wp-cli/i18n-command, pull requests merged in 2020-06, with the labels that each got.

#210 block.json string extraction
  features/makepot.feature
  src/BlockExtractor.php
  src/IterableCodeExtractor.php
  src/JsCodeExtractor.php
  src/MakePotCommand.php
  src/MapCodeExtractor.php
  src/PhpCodeExtractor.php
Labels: command:i18n-make-pot

#214 Add `wp i18n make-mo` command.
  features/makemo.feature
  i18n-command.php
  src/MakeMoCommand.php
Labels: command:i18n-make-mo

#215 Bump PHPCS compatibility tests to new PHP 5.6+ minimum
  phpcs.xml.dist
Labels: scope:testing
