Repository wp-cli/i18n-command, pull requests merged in 2021-07, with the labels that each got.

#258 Fix plural extraction in JS
  features/makepot.feature
  src/JsFunctionsScanner.php
Labels: bug, command:i18n-make-pot

#260 Fix string extraction when using template literals
  features/makepot.feature
  src/JsFunctionsScanner.php
Labels: bug, command:i18n-make-pot

#262 Fix file inclusion/exclusion
  features/makepot.feature
  src/IterableCodeExtractor.php
  tests/IterableCodeExtractorTest.php
  tests/data/foo/bar/foofoo/minified.min.js
Labels: bug, command:i18n-make-pot

#256 Remove now unneeded workaround in JS scanner
  src/JsFunctionsScanner.php
Labels: command:i18n-make-pot

#263 Add `ext-mbstring` to list of suggested dependencies
  composer.json
  i18n-command.php
Labels: scope:distribution

#249 Add support to IterableCodeExtractor for symlinks.
  src/IterableCodeExtractor.php
  tests/IterableCodeExtractorTest.php
Labels: bug, command:i18n-make-pot

#266 Use more inclusive language in arg description
  src/MakePotCommand.php
Labels: scope:documentation

#254 Extract strings for translation from theme.json
  assets/theme-i18n.json
  features/makepot.feature
  src/MakePotCommand.php
  src/ThemeJsonExtractor.php
Labels: command:i18n-make-pot

#267 make-pot: add `subtract-and-merge` flag
  features/makepot.feature
  src/MakePotCommand.php
Labels: command:i18n-make-pot
