Repository wp-cli/i18n-command, pull requests merged in 2021-03, with the labels that each got.

#241 Update GHA functional tests workflow
  .github/workflows/testing.yml
  behat.yml
  composer.json
Labels: scope:testing

#222 Extract strings contained within eval()
  features/makepot.feature
  src/JsFunctionsScanner.php
Labels: bug, command:i18n-make-pot

#228 Add support for indirect translation function calls in JS
  features/makepot.feature
  src/JsFunctionsScanner.php
Labels: command:i18n-make-pot
