Repository wp-cli/i18n-command, pull requests merged in 2023-11, with the labels that each got.

#366 Update `theme-i18n.json`
  .github/workflows/update-schemas.yml
  assets/theme-i18n.json
Labels: command:i18n-make-pot

#370 CI: Stage the correct files in schema workflow
  .github/workflows/update-schemas.yml
Labels: scope:testing

#373 `make-mo`: Add destination file support
  README.md
  features/makemo.feature
  src/MakeMoCommand.php
Labels: command:i18n-make-mo
