Repository wp-cli/i18n-command, pull requests merged in 2024-02, with the labels that each got.

#388 Add more headers to php translation files
  features/makephp.feature
  src/PhpArrayGenerator.php
Labels: command:i18n-make-php

#389 make-php: skip strings without translation
  features/makephp.feature
  src/PhpArrayGenerator.php
Labels: bug, command:i18n-make-php

#390 Add examples for make pot
  README.md
  src/MakePotCommand.php
Labels: scope:documentation
